.App {
  text-align: center;
}

.result-container{
  display: flex;
  justify-content: center;
}

.result-card{
  text-align: center;
  display: flex;
  /* justify-content: center; */
  border: 1px solid black;
  width: 50%;
  margin: 10px;
}

.result-card-flightInfo{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: 0;
  background-color: #61dafb;
}

.result-card-flightInfo-block{
  display: flex;
  justify-content: space-between;
}

.result-card-flightInfo{
  flex-direction: column;
  padding-left: 10px;
}

.result-card-flightPrice{
  /* display: flex; */
  width: 50%;
}

.journey-length{
  width: 50px;
}